tiktoken~=0.8.0
yaml~=0.2.5
pyyaml~=6.0.1
tqdm~=4.67.0
requests~=2.32.3
torch~=2.3.0
transformers~=4.46.3
pillow~=10.3.0
numpy~=1.26.4
pandas~=2.2.2
torchvision~=0.18.0
PyMuPDF
fitz~=0.0.1.dev2
pydantic-settings~=2.7.1
motor~=3.6.1
pydantic~=2.10.5
bson~=0.5.10
pymongo~=4.9.2
fastapi~=0.112.2
uvicorn~=0.32.1
bcrypt~=4.2.1
sqlalchemy~=2.0.37
pynvml~=12.0.0
nvidia-ml-py~=12.560.30
jieba~=0.42.1
datasketch~=1.6.5
levenshtein~=0.26.1